<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/estilos.css">
    <link rel="stylesheet" href="../styles/grid_activities.css">
    <title>Document</title>
</head>

<body>


    <div class="GridContainer">

        <div class="Container-Header">
            <header>
                <div class="Logo">
                    <img src="../images/backgrounds/Pokeball.png" alt="Logo">

                </div>

                <div class="Text">
                    <h1 class="Title">Pokemon Adventures </h1>
                    <h2 class="Subtitle">Alola Region</h2>
                </div>
            </header>
        </div>



        <div class="Container-Activities">

            <div class="Title">
                <H2>Aventurate en las actividades de la Region de Alola!</H2>
            </div>


            <div class="subsection">
                <div class="Photo">
                    <img src="../images/activities/pokemon_battle.jpg" alt="Pokemon combats">
                </div>

                <div class="Text">
                    <h2> Combates Pokemon </h2>
                    <p> Los combates permiten que un Pokémon gane puntos de experiencia,
                        para que así pueda subir de nivel, lo que se traduce en más poder,
                        que además es la forma más común de que los Pokémon evolucionen,
                        que contribuyen al aumento de sus estadísticas y lo mismo
                        a la hora de aprender nuevos movimientos.</p>
                </div>
            </div>

            <div class="subsection">
                <div class="Photo">
                    <img src="../images/activities/pokemon_contest.png" alt="Pokemon contest">
                </div>

                <div class="Text">
                    <h2>Concursos Pokemon </h2>
                    <p> Los concursos Pokémon son varias rondas, que incluyen presentación
                        de ataques y batallas, las cuales pueden ser dobles o individuales dependiendo del concurso.
                        Los coordinadores que participen deben llevar algún traje de concurso.
                        Al registrarse para los concursos la persona del mostrador dará un estuche de
                        listones/cintas,
                        una carta con sellos y cápsulas para sus Poké Ball.
                    </p>
                </div>
            </div>

            <div class="subsection">
                <div class="Photo">
                    <img src="../images/activities/pokemon_farming.png" alt="Pokemon farmeo">
                </div>

                <div class="Text">
                    <h2> Granjas con tus Pokemon </h2>
                    <p> La Granja Pokémon es una zona única donde los pokémon que capturas cuando no tienes hueco en
                        tu equipo son enviados.
                        Aqui podras visitar e interactuar con los pokémon que has capturado. Las Granjas cuentan con
                        espacios donde pudes
                        jugar con tus pokemon, cultivar bayas y psar el tiempo con tus amigos.
                </div>
            </div>


            <div class="subsection">
                <div class="Photo">
                    <img src="../images/activities/Pokemon_surf.jpg" alt="Pokemon Surf">
                </div>

                <div class="Text">
                    <h2> Surfea con tus Pokemon </h2>
                    <p> Usa a tus pokemon de tipo agua para poder nadar las aguas de la region de Alola, domina
                        peligrosas olas y adentrate
                        en el deporte extremo de surfear por las aguas de Alola. Durante el surfeo es posible
                        encontrarse a otros pokemon que
                        habitan en el mar, asi que preparate para el combate.

                    </p>
                </div>
            </div>
        </div>

        <div class="Container-Menu">
            <aside>
                <nav class="menu">
                    <a href="../templates/history.html" id="btn-historia">Historia</a>
                    <a href="../templates/characters.html" id="btn-personajes">Personajes</a>
                    <a href="../templates/activities.html" id="btn-actividades">Actividades</a>
                    <a href="../templates/ubication.html" id="btn-ubicacion">Ubicacion</a>
                    <a href="../templates/history.html" id="btn-referencias">Referencias</a>
                </nav>
            </aside>

        </div>

        <div class="Container-Foot">
            <footer>
                <div class="Logo">
                    <img src="../images/backgrounds/pokelogo.png" alt="logo">
                </div>

                <div class="Text">
                    <h2>Pokemon Company LTDA</h2>
                    <p>Todos los derechos para Nintendo - Pokemon Company</p>
                </div>
            </footer>
        </div>


    </div>




</body>

</html>