<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>
        <div class="Container-Header">
            <div class="Logo"> 
                <img src="" alt="">

            </div>

            <div class="Text"> 
                <h1 class="Title">Pokemon Adventures </h1>
                <h2 class="Subtitle">Alola Region</h2>
            </div>

        </div>
    </header>

    <section class="container-starters">
        <div class="Title">
            <h2> Select your new companion!</h2>
        </div>

        <div class="startes">
            <div class="Rowlet">
                <div class="container-name">
                    <h3 class = name> Name:</h3>
                    <p>Rowlet</p> 
                </div>

                <div class="container-type">
                    <h3 class = type> type:</h3>
                    <p>Grass</p> 
                </div>

                <div class="container-ability">
                    <h3 class = type> Ability:</h3>
                    <p>Description about Ability</p> 
                </div>

                <img src="" alt="">
                <p> Description about the pokemon</p> 

            </div>

            <div class="Popplio">
                <div class="container-name">
                    <h3 class = name> Name:</h3>
                    <p>Popplio</p> 
                </div>

                <div class="container-type">
                    <h3 class = type> type:</h3>
                    <p>Water</p> 
                </div>

                <div class="container-ability">
                    <h3 class = type> Ability:</h3>
                    <p>Description about Ability</p> 
                </div>

                <img src="" alt="">
                <p> Description about the pokemon</p> 
                
            </div>

            <div class="Litten">
                <div class="container-name">
                    <h3 class = name> Name:</h3>
                    <p>Litten</p> 
                </div>

                <div class="container-type">
                    <h3 class = type> type:</h3>
                    <p>Fire</p> 
                </div>

                <div class="container-ability">
                    <h3 class = type> Ability:</h3>
                    <p>Description about Ability</p> 
                </div>

                <img src="" alt="">
                <p> Description about the pokemon</p> 
                
            </div>

           
    </section>


    
    <section class="container-friends">
        <div class="Title">
            <h2> Meet new friends!</h2>
        </div>

        <div class="friends">
            <div class="Professor">
                <h3 class = name> professor </h3> 
                <img src="" alt="">
                <p> Description about the character</p> 
            </div>

            <div class="Lillie">
                <h3 class = name> Lillie </h3> 
                <img src="" alt="">
                <p> Description about the character</p> 
            </div>

            <div class="Lana">
                <h3 class = name> Lana </h3> 
                <img src="" alt="">
                <p> Description about the character</p> 
            </div>

            
            <div class="Kiawe">
                <h3 class = name> Kiawe </h3> 
                <img src="" alt="">
                <p> Description about the character</p> 
            </div>

            
            <div class="Sophocles">
                <h3 class = name> Sophocles </h3> 
                <img src="" alt="">
                <p> Description about the character</p> 
            </div>

            
            <div class="Mallow">
                <h3 class = name> Mallow </h3> 
                <img src="" alt="">
                <p> Description about the character</p> 
            </div>
    </section>

    <aside>
        <div class="Container-Menu">
            <nav class="menu">
				<a href="#" id="btn-acerca-de">History</a>
				<a href="#" id="btn-menu">Charcaters</a>
				<a href="#" id="btn-galeria">Activities</a>
				<a href="#" id="btn-ubicacion">Places</a>
                <a href="#" id="btn-ubicacion">References</a>
			</nav>            
        </div>
    </aside>


    <footer>
        <div class="Container-Foot">
            <div class="Logo"> 
                <img src="" alt=""> 
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>All rights reserved 2023</p>
            </div>           
        </div>
    </footer>
    
</body>

</html>