<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    

    <section class="Container-history">
        <div class="legendaries">

            <div class="Lunala">
                <h2>Lunala</h2>
                <p> Description</p>
            </div>

            <div class="Solgaleo">
                <h2>Lunala</h2>
                <p> Description</p>
            </div>

        </div>
    </section>

    <aside>
        <div class="Container-Menu">
            <nav class="menu">
				<a href="#" id="btn-acerca-de">History</a>
				<a href="#" id="btn-menu">Charcaters</a>
				<a href="#" id="btn-galeria">Activities</a>
				<a href="#" id="btn-ubicacion">Places</a>
                <a href="#" id="btn-ubicacion">References</a>
			</nav>            
        </div>
    </aside>


    <footer>
        <div class="Container-Foot">
            <div class="Logo"> 
                <img src="" alt=""> 
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>All rights reserved 2023</p>
            </div>           
        </div>
    </footer>
    
    
</body>
</html>