<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="Container-Header">
            <div class="Logo"> 
                <img src="../images/backgrounds/Pokeball.png" alt="Logo">

            </div>

            <div class="Text"> 
                <h1 class="Title">Pokemon Adventures </h1>
                <h2 class="Subtitle">Alola Region</h2>
            </div>

        </div>
    </header>

    <section class="Container-history">
        <div class="legendaries">

            <div class="Lunala">
                <img src="../images/characters/Lunala.png" alt="Lunala">
                <h2>Lunala</h2>
                <p> Desde tiempos inmemoriales, a Lunala se le ha considerado heraldo de la Luna,
                    y a menudo se han referido a este Pokémon como “la criatura que evoca a la Luna”.
                    Lunala absorbe luz constantemente y la convierte en energía. Con sus alas extendidas
                    para absorber la luz que hay a su alrededor y un brillo comparable al de la Luna creciente,
                    este Pokémon recuerda a un impresionante cielo nocturno.
                </p>
            </div>

            <div class="Solgaleo">
                <img src="../images/characters/Solgaleo.png" alt="Solgaleo">
                <h2>Solgaleo</h2>
                <p> Desde tiempos inmemoriales, a Solgaleo se le ha considerado heraldo del Sol. De hecho,
                     se le suele describir como “la criatura que se nutre del Sol”. Su cuerpo contiene una
                      cantidad ingente de energía y brilla con luz propia cuando está activo. Su melena ondea
                       al viento, lo que le confiere un considerable parecido con el sol.
                </p>
            </div>

        </div>
    </section>

    <aside>
        <div class="Container-Menu">
            <nav class="menu">
				<a href="#" id="btn-acerca-de">Historia</a>
				<a href="#" id="btn-menu">Personajes</a>
				<a href="#" id="btn-galeria">Actividades</a>
				<a href="#" id="btn-ubicacion">Ubicacion</a>
                <a href="#" id="btn-ubicacion">Referencias</a>
			</nav>            
        </div>
    </aside>


    <footer>
        <div class="Container-Foot">
            <div class="Logo"> 
                <img src="../images/backgrounds/pokelogo.png" alt="logo"> 
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>Todos los derechos para Nintendo - Pokemon Company</p>
            </div>           
        </div>
    </footer>

    
</body>
</html>