<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="Container-Header">
            <div class="Logo"> 
                <img src="" alt="">

            </div>

            <div class="Text"> 
                <h1 class="Title">Pokemon Adventures </h1>
                <h2 class="Subtitle">Alola Region</h2>
            </div>

        </div>
    </header>

    <section class="Container-Photo">

        <div class="subsection">

            <div class="Photo">
                <img src="" alt="">
            </div>

            <div class="Text">
                <h2> History </h2>
                <p> About the history</p>
            </div>
            
        </div>

        <div class="subsection">

            <div class="Photo">
                <img src="" alt="">
            </div>

            <div class="Text">
                <h2> Characters </h2>
                <p> About the characetrs</p>
            </div>
            
        </div>
        
        <div class="subsection">

            <div class="Photo">
                <img src="" alt="">
            </div>

            <div class="Text">
                <h2> Activities </h2>
                <p> About the Activities</p>
            </div>
            
        </div>

        <div class="subsection">

            <div class="Photo">
                <img src="" alt="">
            </div>

            <div class="Text">
                <h2> Places </h2>
                <p> About the Places</p>
            </div>
            
        </div>

        <div class="subsection">

            <div class="Photo">
                <img src="" alt="">
            </div>

            <div class="Text">
                <h2> References </h2>
                <p> About the references</p>
            </div>
            
        </div>
        
    </section>

    <section class="Container-Dex">

        <div class="dex">
            <img src="" alt="">
            <h3> #Pokedex entry</h3>
            <p>Pokedex description</p>
        </div>

        <div class="dex">
            <img src="" alt="">
            <h3> #Pokedex entry</h3>
            <p>Pokedex description</p>
        </div>

    </section>
  
    <aside>
        <div class="Container-Menu">
            <nav class="menu">
				<a href="#" id="btn-acerca-de">History</a>
				<a href="#" id="btn-menu">Charcaters</a>
				<a href="#" id="btn-galeria">Activities</a>
				<a href="#" id="btn-ubicacion">Places</a>
                <a href="#" id="btn-ubicacion">References</a>
			</nav>            
        </div>
    </aside>


    <footer>
        <div class="Container-Foot">
            <div class="Logo"> 
                <img src="" alt=""> 
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>All rights reserved 2023</p>
            </div>           
        </div>
    </footer>
    
    
</body>
</html>