<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="Container-Header">
            <div class="Logo"> 
                <img src="../images/backgrounds/Pokeball.png" alt="Logo">

            </div>

            <div class="Text"> 
                <h1 class="Title">Pokemon Adventures </h1>
                <h2 class="Subtitle">Alola Region</h2>
            </div>

        </div>
    </header>

    <section class="Container-Photo">

        <div class="subsection">

            <div class="Photo">
                <img src="../images/backgrounds/Alola_map.jpg" alt="Mapa de Alola">
            </div>

            <div class="Text">
                <h2> Historia </h2>
                <p> Se trata de un destino turístico bastante popular en el mundo Pokémon que atrae a muchos
                    visitantes, que suelen hospedarse en algunos de sus hoteles.
                </p>
            </div>
            
        </div>

        <div class="subsection">

            <div class="Photo">
                <img src="../images/backgrounds/Alola_Background.jpg" alt="Personajes">
            </div>

            <div class="Text">
                <h2> Personajes </h2>
                <p> Durante tu aventura en la region de Alola encontraras a muchos amigos para divertirte, escoge un pokemon para inciar tu
                    aventura y afronta nuevos retos para convertirte en el campeon de la region.
                </p>
            </div>
            
        </div>
        
        <div class="subsection">

            <div class="Photo">
                <img src="../images/activities/pokemon_contest.png" alt="actividades">
            </div>

            <div class="Text">
                <h2> Actividades </h2>
                <p> La region de Alola cuenta con muchas actividades en las cuales tu y tus pokemon podran trabajar juntos
                    y pasar un rato agradable a la orilla de las extensas playas de la region.
                </p>
            </div>
            
        </div>

        <div class="subsection">

            <div class="Photo">
                <img src="../images/cities/Akala_Island.jpg" alt="Ubicacion">
            </div>

            <div class="Text">
                <h2> Ubicacion </h2>
                <p> Se trata de un archipiélago compuesto por cuatro islas naturales: Melemele, Akala, Ula-Ula, y Poni,
                    cada isla tiene caracteristicas unicas en base a la cultura y los tipos de pokemon que habitan en ellas.
                </p>
            </div>
            
        </div>

        <div class="subsection">

            <div class="Photo">
                <img src="" alt="">
            </div>

            <div class="Text">
                <h2> References </h2>
                <p> About the references</p>
            </div>
            
        </div>
        
    </section>

    <section class="Container-Dex">

        <div class="dex">
            <img src="../images/pokedex/dex_1.png" alt="Chansey">
            <h3> Chansey N.º113 </h3>
            <p>Este Pokémon solía ser lento de reflejos, pero ha desarrollado una gran 
                velocidad para evitar que le roben sus preciados huevos.
            </p>
        </div>

        <div class="dex">
            <img src="../images/pokedex/dex-2.png" alt="Toxapex">
            <h3> Toxapex N.º748</h3>
            <p>Para resistir las bajas temperaturas de las aguas de Galar, forma una cúpula con 
                las patas y calienta el interior con el calor de su cuerpo.
            </p>
        </div>

    </section>
  
    <aside>
        <div class="Container-Menu">
            <nav class="menu">
				<a href="#" id="btn-acerca-de">Historia</a>
				<a href="#" id="btn-menu">Personajes</a>
				<a href="#" id="btn-galeria">Activitidades</a>
				<a href="#" id="btn-ubicacion">Ubicacion</a>
                <a href="#" id="btn-ubicacion">Referencias</a>
			</nav>            
        </div>
    </aside>


    <footer>
        <div class="Container-Foot">
            <div class="Logo"> 
                <img src="" alt=""> 
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>All rights reserved 2023</p>
            </div>           
        </div>
    </footer>
    
    
</body>
</html>