<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/phaser.js"></script>
	<script src="../js/mapa.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/map_estilos.css">
    <title>Document</title>
</head>

<body>

    <div class="GridContainer">

        <div class="Container-Header">


            <div class="Logo">
                <img src="../images/backgrounds/Pokeball.png" alt="Logo">

            </div>

            <div class="Texto">
                <h1 class="Title">Pokemon Adventures in Alola Region </h1>
            </div>

        </div>

        <div class="Container-Menu">

            <nav class="menu">
                <a href="../templates/index.html" class="boton" id="btn-Inicio">Inicio</a>
                <a href="../templates/history.html" class="boton" id="btn-historia">Historia</a>
                <a href="../templates/characters.html" class="boton" id="btn-personajes">Personajes</a>
                <a href="../templates/activities.html" class="boton" id="btn-actividades">Actividades</a>
                <a href="../templates/ubication.html" class="boton" id="btn-ubicacion">Ubicacion</a>
                <a href="../templates/references.html" class="boton" id="btn-referencias">Referencias</a>
                <a href="../templates/map.html" class="boton" id="btn-mapa">Mapa</a>

            </nav>

        </div>


        <div class="Container-references">
            <div class="Boxes">

                <div class="map">
                    

                    <div class="container">
                    
                        <h2>Mapa de la region de Alola.</h2>
                        
                        <div class="imagen" id="mapaalola">
                            
                        </div>

                        
                    </div>
                </div>

                

            </div>
        </div>


   


        <div class="Container-Foot">

            <div class="Logo">
                <img src="../images/backgrounds/pokelogo.png" alt="Logo">
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>Este es un diseño inspirado en los juegos de Nintendo y Pokemon Company</p>
            </div>

        </div>
</body>

</html>