<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/references_estilos.css">
    <title>Document</title>
</head>

<body>

    <div class="GridContainer">

        <div class="Container-Header">


            <div class="Logo">
                <img src="../images/backgrounds/Pokeball.png" alt="Logo">

            </div>

            <div class="Texto">
                <h1 class="Title">Pokemon Adventures in Alola Region </h1>
            </div>

        </div>

        <div class="Container-Menu">

            <nav class="menu">
                <a href="../templates/index.html" class="boton" id="btn-Inicio">Inicio</a>
                <a href="../templates/history.html" class="boton" id="btn-historia">Historia</a>
                <a href="../templates/characters.html" class="boton" id="btn-personajes">Personajes</a>
                <a href="../templates/activities.html" class="boton" id="btn-actividades">Actividades</a>
                <a href="../templates/ubication.html" class="boton" id="btn-ubicacion">Ubicacion</a>
                <a href="../templates/references.html" class="boton" id="btn-referencias">Referencias</a>
            </nav>

        </div>


        <div class="Container-references">
            <div class="Boxes">

                <div class="References">
                    

                    <div class="Texto">
                        <h2>Referencias.</h2>

                        <br>

                        <h3>Imagenes</h3>

                        <ul>
                            <li>https://co.pinterest.com/pin/536421005613046343/</li>
                            <li>https://www.pokemon.com/el/pokedex/solgaleo</li>
                            <li>https://www.pokemon.com/el/pokedex/lunala</li>
                            <li>https://pokemon.fandom.com/wiki/Alola</li>
                            <li>https://www.pokemon.com/es/pokedex/rowlet</li>
                            <li>https://www.pokemon.com/el/pokedex/popplio</li>
                            <li>https://www.pokemon.com/es/pokedex/Litten</li>
                            <li>https://co.pinterest.com/pin/740068151252210200/</li>
                            <li>https://www.buscalibre.com.co/libro-pokemon-alola-region-activity-book/9781604381955/p/49047224</li>
                            <li>https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Contest</li>
                            <li>https://www.deviantart.com/aveontrainer/art/Pokemon-Farm-807605308</li>
                            <li>https://bulbapedia.bulbagarden.net/wiki/Mantine_Surf</li>

                        </ul>

                        <br>

                        <h3>Contenido</h3>

                        <ul>
                            <li>https://pokemon.fandom.com/es/wiki/Lunala</li>
                            <li>https://pokemon.fandom.com/es/wiki/Solgaleo</li>
                            <li>https://pokemon.fandom.com/es/wiki/Rowlet</li>
                            <li>https://pokemon.fandom.com/es/wiki/Popplio</li>
                            <li>https://pokemon.fandom.com/es/wiki/Litten</li>
                            <li>https://pokemon.fandom.com/es/wiki/Friends</li>
                            <li>https://pokemon.fandom.com/es/wiki/Alola</li>
                            <li>https://pokemon.fandom.com/es/wiki/Region</li>
                        </ul>

                        <br>

                        <h2>Mapa de la pagina web.</h2>
                        <p> El mapa de la pagina web se ve a continuación.
                        </p>

                        <div class="imagen">
                            <img src="../images/map/map.jpg" alt="mapa">
                        </div>
                        
                    </div>
                </div>

                

            </div>
        </div>


   


        <div class="Container-Foot">

            <div class="Logo">
                <img src="../images/backgrounds/pokelogo.png" alt="Logo">
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>Este es un diseño inspirado en los juegos de Nintendo y Pokemon Company</p>
            </div>

        </div>
</body>

</html>