<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Container-Alola"> 
        <h2 class="Title"> Welcome to Alola! </h2>
        <img src="" alt=""> 
        <p> The alola region is a tropical paradise with a lot of fun things to do among with your friends, alola is divided in 4 islands</p>
    </div>

    <div class="Container-islands">

        <div class="islands">
            <h2> Melemele</h2>
            <img src="" alt=""> 
            <p> Description of the island</p>
        </div>

        <div class="islands">
            <h2> Ula Ula</h2>
            <img src="" alt=""> 
            <p> Description of the island</p>
        </div>

        <div class="islands">
            <h2> Akala</h2>
            <img src="" alt=""> 
            <p> Description of the island</p>
        </div>

        <div class="islands">
            <h2>Poni</h2>
            <img src="" alt=""> 
            <p> Description of the island</p>
        </div>


    </div>

    <aside>
        <div class="Container-Menu">
            <nav class="menu">
				<a href="#" id="btn-acerca-de">History</a>
				<a href="#" id="btn-menu">Charcaters</a>
				<a href="#" id="btn-galeria">Activities</a>
				<a href="#" id="btn-ubicacion">Places</a>
                <a href="#" id="btn-ubicacion">References</a>
			</nav>            
        </div>
    </aside>


    <footer>
        <div class="Container-Foot">
            <div class="Logo"> 
                <img src="" alt=""> 
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>All rights reserved 2023</p>
            </div>           
        </div>
    </footer>

    
</body>
</html>