<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="Container-Header">
            <div class="Logo"> 
                <img src="../images/backgrounds/Pokeball.png" alt="Logo">

            </div>

            <div class="Text"> 
                <h1 class="Title">Pokemon Adventures </h1>
                <h2 class="Subtitle">Alola Region</h2>
            </div>

        </div>
    </header>


    
    <div class="Container-Alola"> 
        <h2 class="Title"> Bienvenido a Alola! </h2>
        <img src="../images/backgrounds/Alola_map.jpg" alt="AlolaMapa"> 
        <p> Alola es una regian con paraisos tropicales y varios ecosistemas que se distibuyen a lo largo de 4 islas.</p>
    </div>

    <div class="Container-islands">

        <div class="islands">
            <h2> Melemele</h2>
            <img src="../images/cities/Melemele_island.jpg" alt="Melemele"> 
            <p> El nombre de esta isla proviene de la palabra hawaiana para designar al color amarillo, melemele.
                 Está basada en Oahu, la isla con mayor población y la tercera más grande en superficie de las ocho
                  que componen el estado de Hawái.
            </p>
        </div>

        <div class="islands">
            <h2> Ula Ula</h2>
            <img src="../images/cities/Ulaula_island.jpg" alt="Ula Ula"> 
            <p> El nombre de esta isla proviene de la palabra hawaiana para el color rojo, ula'ula. Está inspirada en la isla de Hawaii,
                la más grande del archipiélago hawaiano, y la que cuenta con más volcanes.
            </p>
        </div>

        <div class="islands">
            <h2> Akala</h2>
            <img src="../images/cities/Akala_Island.jpg" alt="Akala"> 
            <p> El nombre de esta isla proviene de la palabra hawaiana para el color rosa, âkala. Está basada en Maui, la segunda isla
                 más grande del archipiélago hawaiano.
            </p>
        </div>

        <div class="islands">
            <h2>Poni</h2>
            <img src="../images/cities/Poni_Island.jpg" alt="Poni"> 
            <p> El nombre de esta isla proviene de la palabra hawaiana para el color morado, poni. Halla su inspiración en Kauai,
                la isla más al norte de Hawái y también la más antigua de todas. La Isla Exeggutor, por su parte, está inspirada en la isla de Nihau.
                La isla Kauai es conocida en Hawái como la isla jardín, lo cual explica por qué es la isla más despoblada de Alola.
            </p>
        </div>


    </div>

    <aside>
        <div class="Container-Menu">
            <nav class="menu">
				<a href="#" id="btn-acerca-de">Historia</a>
				<a href="#" id="btn-menu">Personajes</a>
				<a href="#" id="btn-galeria">Actividades</a>
				<a href="#" id="btn-ubicacion">Ubicacion</a>
                <a href="#" id="btn-ubicacion">Referencias</a>
			</nav>            
        </div>
    </aside>


    <footer>
        <div class="Container-Foot">
            <div class="Logo"> 
                <img src="../images/backgrounds/pokelogo.png" alt="logo"> 
            </div>

            <div class="Text">
                <h2>Pokemon Company LTDA</h2>
                <p>Todos los derechos para Nintendo - Pokemon Company</p>
            </div>           
        </div>
    </footer>

    
</body>
</html>