
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* colocando la estructura de esta pagina */
 
.GridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header     header     header"
                         "Nav        Nav        Nav"
                         "starters   starters   starters"
                         "friends    friends    friends"
                         "Footer     Footer     Footer";
    gap:10px;
}

.Container-Header{
    grid-area: header;
}



.Container-starters {
    grid-area: starters;

}



.Container-friends {
    grid-area: friends;
 

}


.Container-Menu {
    grid-area: Nav;
}

.Container-Foot {
    grid-area: Footer;
}



.GridContainer {
    margin: auto;
    width: 90%;
    max-width: 1500px;
}

body {
    font-family: 'Bebas Neue';
    background: #000 url('../images/backgrounds/Alola_Background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* COLOCANDO EL HEADER Y EL NAVBAR */

.Container-Header {
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.Container-Header .Logo {
    width: 60px;
    height: 60px;
}

.Container-Header .Logo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.Container-Header .Texto {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Container-Menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.boton {
    color: #fff;
    background: black;
    display: inline-block;
    font-size: 16px;
    padding: 15px 20px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 20px;

}

.boton:hover {
    opacity: .8;
}


/* COLOCANDO lOS STARTERS*/

.Container-starters{

    margin: auto;
    position: relative;
    background: rgba(255, 255, 255, .85);
    padding: 20px;
    width: 80%;
    height: auto;
    border-radius: 20px;
    

}

.Container-starters .Title{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
}

.Container-starters .starters{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Container-starters .Rowlet{
    
    display: flex;
    flex-direction: row;
}

.Container-starters .Rowlet .Container-img{
    margin: auto;
    width: 40%;
    height: auto;
}


.Container-starters .Rowlet .Container-img img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.Container-starters .Rowlet .Container-text{
    margin: auto;
    width: 60%;
    height: auto;
    padding: 50px;
}

.Container-starters .Rowlet .Container-text .Container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}

.Container-starters .Rowlet .Container-text .Container .name{
    text-align: center;
    font-size: 30px;
    color: #0F855A ;
}


.Container-starters .Popplio{
    
    display: flex;
    flex-direction: row;
    
}

.Container-starters .Popplio .Container-img{
    margin: auto;
    width: 40%;
    height: auto;
}


.Container-starters .Popplio .Container-img img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.Container-starters .Popplio .Container-text{
    margin: auto;
    width: 60%;
    height: auto;
    padding: 50px;
}

.Container-starters .Popplio .Container-text .Container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}

.Container-starters .Popplio .Container-text .Container .name{
    text-align: center;
    font-size: 30px;
    color: #1F5ABD ;
}



.Container-starters .Litten{
    
    display: flex;
    flex-direction: row;
    
}

.Container-starters .Litten .Container-img{
    margin: auto;
    width: 40%;
    height: auto;
}


.Container-starters .Litten .Container-img img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.Container-starters .Litten .Container-text{
    margin: auto;
    width: 60%;
    height: auto;
    padding: 50px;
}

.Container-starters .Litten .Container-text .Container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}

.Container-starters .Litten .Container-text .Container .name{
    text-align: center;
    font-size: 30px;
    color: #D31C17 ;
}


/* COLOCANDO lOS FRIENDS*/

.Container-friends{

    margin: auto;
    position: relative;
    background: rgba(7, 7, 7, 0.85);
    padding: 20px;
    width: 80%;
    height: auto;
    border-radius: 20px;
    

}

.Container-friends .Title{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
}

.Container-friends .friend{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.Container-friends .friend .Container-img{
    margin: auto;
    width: 40%;
    height: auto;
}


.Container-friends .friend .Container-img img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.Container-friends .friend .Container-text{
    margin: auto;
    width: 60%;
    height: auto;
    padding: 50px;
    color: #fff;
}

.Container-friends .friend .Container-text .Container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}

/* SIGUE LA PARTE DEL FOOTER */

.Container-Foot{
    margin: auto;
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
  
}

.Container-Foot .Logo{
    width: 50%;
    height: 30%;
}

.Container-Foot .Logo img{
    margin-left: auto;
    max-width: 20%;
    max-height: 20%;
    display: block;

}



.Container-Foot .Text{
    margin: auto;
    width: 80%;
    height: 20%;
    color: white;

}






