* {
    margin: 0;
    padding: 0;
}

.GridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header      header       header"
                         "bar         bar          bar"
                         "Activities  Activities   Activities"
                         "Footer      Footer       Footer";
    gap:10px;
}

.Container-Header{
    grid-area: header;
}





.Container-Activities {
    grid-area: Activities;
   
}




.Container-Menu {
    grid-area: bar;
    

}

.Container-Foot {
    grid-area: Footer;
    
}

.Container-Foot img{
    width: 10%;
}

