* {
    margin: 0;
    padding: 0;
}

.GridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header     header     header"
                         "Nav        Nav        Nav"
                         "Intro      Intro      Intro"
                         "Islands    Islands    Islands"
                         "Footer     Footer     Footer";
    gap:10px;
}

.Container-Header{
    
    grid-area: header;
}


.Container-Alola {
    grid-area: Intro;
   
}



.Container-islands {
    grid-area: Islands;
    

}



.Container-Menu {
    grid-area: Nav;

}

.Container-Foot {
    grid-area: Footer;
}

