* {
    margin: 0;
    padding: 0;
}

.GridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "Nav"
                         "references"
                         "Footer";
    gap:10px;
}

.Container-Header{
    grid-area: header;
}



.Container-references {
    grid-area: references;
}



.Container-Menu {
    grid-area: Nav;

}

.Container-Foot {
    grid-area: Footer;
   
}

