
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.GridContainer {
    margin: auto;
    width: 90%;
    max-width: 1500px;
}

body {
    font-family: 'Bebas Neue';
    background: #000 url('../images/backgrounds/Alola_Background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* COLOCANDO EL HEADER Y EL NAVBAR */

.Container-Header {
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.Container-Header .Logo {
    width: 60px;
    height: 60px;
}

.Container-Header .Logo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.Container-Header .Texto {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Container-Menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.boton {
    color: #fff;
    background: black;
    display: inline-block;
    font-size: 16px;
    padding: 15px 20px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 20px;

}

.boton:hover {
    opacity: .8;
}



/* COLOCANDO lOS legendarios*/




.Container-history{
    margin: auto;
    width: 70%;
   
}

.legendaries{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:40px;
    

}


.Lunala{
    
    width:100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    background-image: url('../images/backgrounds/lunala_bg.jpg');
    border-radius: 20px;
}

.Solgaleo{
    background-color: rgb(240, 255, 240);
    width:100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    background-image: url('../images/backgrounds/solgaleo_bg.jpg');
    border-radius: 20px;
}

.legendaries .imagen{
    padding: 40px;
    max-width: 100%;
    
}

.legendaries img{
    width: 300px;
    height: 300px;
}

.legendaries .Texto{
    padding: 40px;
    margin: auto;
    color: whitesmoke;
    font-size: 20px;
}



/* SIGUE LA PARTE DEL FOOTER */

.Container-Foot{
    margin: auto;
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
  
}

.Container-Foot .Logo{
    width: 50%;
    height: 30%;
}

.Container-Foot .Logo img{
    margin-left: auto;
    max-width: 20%;
    max-height: 20%;
    display: block;

}



.Container-Foot .Text{
    margin: auto;
    width: 80%;
    height: 20%;
    color: white;

}




