
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* colocando la estructura de esta pagina */


.GridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "Nav"
                         "references"
                         "Footer";
    gap:10px;
}

.Container-Header{
    grid-area: header;
}



.Container-references {
    grid-area: references;
}



.Container-Menu {
    grid-area: Nav;

}

.Container-Foot {
    grid-area: Footer;
   
}



.GridContainer {
    margin: auto;
    width: 90%;
    max-width: 1500px;
}

body {
    font-family: 'Bebas Neue';
    background: #000 url('../images/backgrounds/Alola_Background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* COLOCANDO EL HEADER Y EL NAVBAR */

.Container-Header {
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.Container-Header .Logo {
    width: 60px;
    height: 60px;
}

.Container-Header .Logo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.Container-Header .Texto {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Container-Menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.boton {
    color: #fff;
    background: black;
    display: inline-block;
    font-size: 16px;
    padding: 15px 20px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 20px;

}

.boton:hover {
    opacity: .8;
}



/* COLOCANDO lOS legendarios*/




.Container-references{
    margin: auto;
    width: 70%;
   
}

.Boxes{
    margin: auto;
    width: 100%;
    gap:40px;
    

}


.References{
    background: rgba(255, 255, 255, .7);
    width:100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}





.References .Texto{
    padding: 40px;
    color:black;
    font-size: 20px;
}



.References .Texto img{
    max-width: 100%;
    margin: auto;
    padding: 40px;
    color:black;
    font-size: 20px;
}



/* SIGUE LA PARTE DEL FOOTER */

.Container-Foot{
    margin: auto;
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
  
}

.Container-Foot .Logo{
    width: 50%;
    height: 30%;
}

.Container-Foot .Logo img{
    margin-left: auto;
    max-width: 20%;
    max-height: 20%;
    display: block;

}



.Container-Foot .Text{
    margin: auto;
    width: 80%;
    height: 20%;
    color: white;

}




